<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div style="text-align:center">
        <h1>   Welcome to {{ title }}!</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Accordians</h2>
      <div id="accordionC" class="accordion-group accordion-graybg" role="tablist" aria- multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOneC">
            <h5 class="mb-0"><a
                     data-toggle="collapse" data-parent="#accordionC" href="#collapseOneC" aria-
                     expanded="true" aria-controls="collapseOne">     Collapsible Group
                     Item #1   </a>       
                  </h5>
          </div>
          <div id="collapseOneC" class="collapse show" role="tabpanel" aria- labelledby="headingOneC">
            <div class="card-block">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis vel voluptatibus corporis aliquid reprehenderit natus magni, debitis pariatur libero vitae.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwoC">
            <h5 class="mb-0"> <a class="collapsed" data-toggle="collapse" data-
                     parent="#accordionC" href="#collapseTwoC" aria-expanded="false" aria-
                     controls="collapseTwoB">     Collapsible Group Item #2   </a></h5>
          </div>
          <div id="collapseTwoC" class="collapse" role="tabpanel" aria-labelledby="headingTwoC">
            <div class="card-block"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis vel voluptatibus corporis aliquid reprehenderit natus magni, debitis pariatur libero vitae. </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingThreeC">
            <h5 class="mb-0"> <a
                     class="collapsed" data-toggle="collapse" data-parent="#accordionC"
                     href="#collapseThreeC" aria-expanded="false" aria-controls="collapseThreeC">
                     Collapsible Group Item #3   </a>       
                  </h5>
          </div>
          <div id="collapseThreeC" class="collapse" role="tabpanel" aria- labelledby="headingThreeC">
            <div class="card-block">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis vel voluptatibus corporis aliquid reprehenderit natus magni, debitis pariatur libero vitae.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Popovers</h2>
     
     <button type="button" class="btn btn-outline-secondary" placement="top"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
  Popover on top
</button>

<button type="button" class="btn btn-outline-secondary" placement="right"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
  Popover on right
</button>

<button type="button" class="btn btn-outline-secondary" placement="bottom"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
  Popover on bottom
</button>

<button type="button" class="btn btn-outline-secondary" placement="left"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">
  Popover on left
</button>

     </div>
  </div>
</div>
